# The following information can be obtained from the Azure AI Foundry service
# IMPORTANT: DO NOT hardcode these values in the source code for production use
# API key
KEY=
# Azure AI Foundry endpoint
ENDPOINT=
# API version
VERSION=
# Deployed model name
MODEL=